PyPDF2==3.0.1
langchain==0.1.17
langchain-community==0.0.36
langchain-google-genai==1.0.3
google-generativeai==0.5.2
streamlit==1.33.0
faiss-cpu==1.8.0
streamlit_extras==0.4.2
streamlit_pdf_viewer==0.0.11
streamlit_authenticator==0.3.2
textract==1.6.5